# Auth
SECRET_KEY=change-me-to-random-secret
AUTH_LOGIN=admin
AUTH_PASSWORD=your-password

# Server
HOST=0.0.0.0
PORT=8924

# Tmux
SEND_ENTER_DELAY=0.2

# ASR
ASR_API_URL=https://whisper-asr.2dox.uz/transcribe
ASR_TOKEN=your-asr-token
ASR_LANGUAGE=ru
ASR_NORMALIZE=false
